<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--<app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>     Was used before using routing  -->  
      <router-outlet></router-outlet>
     </div>
  </div>
</div>

<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <label for="name">Name</label>
      <input type="text" name="userName" #userName/>
      <button (click)=getUserName(userName.value);>Submit</button>
    
      <app-server [userName1]="userName1" (citySubmitted)="getCityInAppComponent($event)"></app-server>

      City obtained from Child to Parent : {{cityObtained}}
    </div>
  </div>
</div>
-->
